:root{
  --app-color: #4c5a81;
  --offwhite-color: #f4f4f4;
  --secondary-color:#293d74;
  --dark-color:#000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  max-width: 1170px;
  margin:auto;
}
/*Navbar styles........*/
.navbar{
  background: var(--app-color);
  padding:1rem;
}

.navbar__nav{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.nav__brand a{
  font-size: 1.4rem;
  color:var(--offwhite-color);
}
.nav__brand a:hover{
  color: #000000;
}
.nav__links{
  display:flex;
  list-style:none;
  align-items: center;
}
.links__link a{
  display: block;
  padding: 1rem;
  color:var(--offwhite-color);
  text-decoration: none;
  margin-left: 0.5rem;
  border:1px solid var(--app-color);
  font-size: 20px;
}
.links__link a:hover{
  border-bottom: 1px solid #000000;
  color:#000000;
}

/*style for search bar.........*/

.searchbar{
  width:100%;
  margin:2rem 0;
}

.searchbar__form{
  display: flex;
  justify-content: space-around;
}
.searchbar__form >input {
  width: 70%;
  padding: 15px 20px;
  border: 10px solid var(--app-color);
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  background: var(--offwhite-color);
  color: var(--dark-color);
  font-size: 20px;
  outline-width: 0ch;

}

/* Search button........*/

.btn {
  padding: 15px 17px;
  border: 1px solid var(--app-color);
  border-radius: 80px;
  background: var(--app-color);
  color: #ffff;
  margin: 1rem 0;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover {
  color:var(--dark-color);
  
}

.btn-block {
  display: block;
  width: 20%;
}

/* list items*/



img {
  width: 210px;
  height: 295px;
  object-fit: cover;
}
.listitem {
  text-decoration: none;
  width: 210px;
  background: var(--offwhite-color);
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  margin: 1rem auto;
  cursor: pointer;
  display: inline-block;
}
.listitem:hover {
  transform: scale(1.03);
}

.listitem__info {
  color: var(--dark-color);
  text-align: center;
}
.info__name {
  font-size: 1rem;
  padding: 5px;
}

.info__rating {
  color: var(--secondary-color);
  padding: 5px;
}
.homepage__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

/* Single Show Page Styles */
.singleshow {
  display: flex;
  margin: 2rem 0;
}

.singleshow > img {
  margin-right: 2rem;
}

.singleshow__info p {
  margin: 1rem 0;
}

.singleshow__genre {
  display: inline-block;
  border-radius: 15px;
  margin: 0.5rem 1rem 0.5rem 0;
  padding: 10px 17px;
  background: var(--secondary-color);
  color: var(--offwhite-color);
}

